<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cold-n-Yummy</title>
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>  
    <%- include('../views/partials/header.ejs') %>
    <main>
        <section class="highscore">
            <h2>Highscore</h2>
                <% let i = 1 %> 
                <div class="container"> 
                    <div class="score">
                        <% highscore.forEach(score => { %>  
                            <p><%= i %>. <%= score.name %> - <%= score.dataValues.count %> votes </p>
                            <% i++ %> 
                        <% }) %>  
                    </div>
                </div>   
        </section>
    </main>
    <%- include('../views/partials/footer.ejs') %>
</body>
</html>